@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html,
  body {
    @apply bg-primary dark:bg-neutral scroll-smooth min-h-full;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
