@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html,
  body {
    @apply bg-base-100 scroll-smooth min-h-full;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}
